
@font-face {
    font-family: "DMSans-Medium";
    src: url('./assets/fonts/DMSans-Medium.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "DMSans-MediumItalic";
    src: url('./assets/fonts/DMSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "DMSans-Regular";
    src: url('./assets/fonts/DMSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}



h1 {
    color: red;
    font-family: "DMSans-Medium", sans-serif;
    font-size: 24px;

}